body{
    margin:0;
    padding: 0;
    background-color: #101010;
    color: #f4faf4;
    font-family: montserrat;
}
.banner-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 136px;
}
.titulo1{
    font-family: Montserrat;
    width:300px;
    height: auto;
    margin-top: 30px;

}
.titulo1 h1{
    color: #f4faf4;
    font-size: 60px;
    margin-bottom: 5px;
    
}
.titulo1 .ano{

    font-size: 40px;
  background: linear-gradient(90deg, #ff0000,#0000ff, #00ff00, #ffff00);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

    margin-top: -10px;
    
}
.data-titulo{
    
    display: flex;
    flex-direction: column;
    
}
.data-titulo h2 {
    
    text-align: center;
    margin: 0;
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-family: Orbitron;
   color: #FF4C4C;;
background-color: rgba(168, 85, 247, 0.1);
    border: 3px solid #FF4C4C; ;
    border-radius: 5px;
    
    
}
.imagemEvento1{
    width: 95%;
    height: auto;
    padding:50px;

  
}
.item{
    display: none;
    position: relative;
}
.item.active{
    display: block;
}
#prev, #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: transparent;
    color: #fff;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 2;
    border-radius: 8px;
}
#prev {
    left: 20px;
}
#next{
    right: 20px;
}

@keyframes toActive{
    from {
        top:100%;
        opacity: 0;
    }
}
.item.active img.imagemEvento1{
    animation: toActive 0.5s ease-in-out 1;
}
.item.active .titulo1{
    animation: toActive 0.5s ease-in-out 1;
}
.item.active .ano{
    animation: toActive 0.5s ease-in-out 1;
}
.item.active .texto{
    animation: toActive 0.5s ease-in-out 1;
}
.item.active .fundo{
    animation: toActive 0.5s ease-in-out 1;
}
.texto 
{
    margin-top: 200px;
    margin-left: 150px;
    
     display: flex;
     flex-direction: column;
    font-family: Montserrat;
    color: #faf7f7;
   width: 70%;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: left;
    padding-bottom: 40px;
}


.palestrantes{
    margin-left: 100px;
    margin-top: 12%;
    font-family: Montserrat;
    letter-spacing:2px;
    
    
}
 .palestrante p{
    color:#007BFF;
 }
    

.palestrantes h1{
    font-size: 32px;
    
   
}
.palestrante img{
width: 160px;
height: 150px;
border-radius: 50%;
border:3px solid white;

}

.local{
    
    margin-left: 100px;
    margin-top: 15%;
    font-family: Montserrat;
    letter-spacing:2px;
}

.map-responsive {
    position: relative;
    padding-bottom: 70%; /* proporção 16:9 */
    height: 0;
    overflow: hidden;
    margin: 50px auto;
    max-width: 80%;
  }
  
  .map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 50%;
    border: 0;
  }